spring:
  application:
    name: m1nd

telegram:
  bot:
    token: ${TELEGRAM_BOT_TOKEN:}
    username: ${TELEGRAM_BOT_USERNAME:}

llm:
  api:
    provider: groq  # groq, huggingface, gemini, openai
    groq:
      api-key: ${GROQ_API_KEY:}
      model: llama-3.1-8b-instant
      url: https://api.groq.com/openai/v1/chat/completions
      temperature: 0.7
      max-tokens: 500
    huggingface:
      api-key: ${HUGGINGFACE_API_KEY:}
      model: mistralai/Mistral-7B-Instruct-v0.2
      url: https://api-inference.huggingface.co/models
    gemini:
      api-key: ${GEMINI_API_KEY:}
      url: https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent
    openai:
      api-key: ${OPENAI_API_KEY:}
      model: gpt-3.5-turbo
      url: https://api.openai.com/v1/chat/completions

app:
  data:
    users-file: users.json
    prompt-file: prompt.txt
